@import url("https://fonts.googleapis.com/css2?family=Hind:wght@500;700&family=Montserrat:wght@500;700&display=swap");

$fontStack: Hind, Helvetica, sans-serif;
$headerFont: Monsterrat, sans-serif;
$lightColor: #f4f4f4;
$primaryColor: #0e6cff;
$secondaryColor: #ff8700;
