@import "config";

%button {
  padding: 8px 16px;
  display: inline-block;
  margin: 3px;
  border-radius: 6px;
  color: #000;
  font-size: 18px;
  font-weight: bold;
  font-family: $headerFont;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  text-transform: uppercase;
}

.primaryBtn {
  @extend %button;
  background-color: $primaryColor;
  color: #000;

  &:hover {
    background-color: lighten($primaryColor, 10);
  }
}

.secondaryBtn {
  @extend %button;
  //   background-color: $secondaryColor;
  border: 2px solid $secondaryColor;
  color: #fff;
  color: $secondaryColor;

  &:hover {
    background-color: darken($secondaryColor, 10);
    background-color: $secondaryColor;
    color: #fff;
  }
}
