@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  background-color: $lightColor;
  font-family: $fontStack;
  line-height: 1.6;
}

// Helper classes
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFont;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-image: url("../images/balcony.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center bottom -820px;
  min-height: 100vh;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    menu {
      display: flex;
      list-style-type: none;

      li {
        display: flex;

        a {
          padding: 8px 12px;
          background: pink;
          display: inline-block;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}
