@import "config";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 1px solid red;
}

body {
  background-color: $lightColor;
  font-family: $fontStack;
  line-height: 1.6;
}

// Helper classes
a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  background-image: url("../images/balcony.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

.container {
  max-width: 1152px;
  margin: 0 auto;
}
